.video-edit {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: PingFangSC-Regular, PingFang SC;
  background-color: #edeef2;
}

.video-edit .video-edit-wrap {
  position: relative;
  flex: 1 0 36rem;
  background-color: #edeef2;
  min-height: 36rem;
  display: flex;
  align-items: center;
}

.video-edit .video-edit-wrap .video-edit-sync {
  position: absolute;
  top: 3.2rem;
  right: 2.4rem;
  padding: 0 1.6rem;
  height: 5.6rem;
  width: 18rem;
  font-size: 2.8rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 2.8rem;
  color: #476dff;
}

.video-edit .video-edit-wrap .video-edit-content {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.video-edit .video-edit-wrap .video-edit-content .video-page-btn, .video-edit .video-edit-wrap .video-edit-content .video-prev, .video-edit .video-edit-wrap .video-edit-content .video-next {
  width: 4rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.69);
  display: flex;
  align-items: center;
}

.video-edit .video-edit-wrap .video-edit-content .video-page-btn ::v-deep .uni-icons, .video-edit .video-edit-wrap .video-edit-content .video-prev ::v-deep .uni-icons, .video-edit .video-edit-wrap .video-edit-content .video-next ::v-deep .uni-icons {
  font-size: 3.2rem !important;
}

.video-edit .video-edit-wrap .video-edit-content .video-prev {
  border-radius: 0 4rem 4rem 0;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage {
  position: relative;
  width: 64rem;
  height: 36rem;
  z-index: 1;
}

@keyframes tip-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .tip-mask {
  background-color: rgba(71, 109, 255, 0.19);
  border: 0.2rem dotted #476dff;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .tip-mask.tip-mask-animate {
  animation: tip-opacity 0.55s 2 alternate;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 9.6rem;
  text-align: center;
  box-sizing: border-box;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-progress {
  font-size: 5.2rem;
  font-weight: bold;
  color: #ffffff;
  line-height: 6.2rem;
  margin-bottom: 0.8rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-text {
  font-size: 2.8rem;
  color: #ffffff;
  line-height: 4rem;
  margin-bottom: 1.6rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-cancel {
  width: 12.8rem;
  height: 5rem;
  border-radius: 2.5rem;
  border: 0.2rem solid #ffffff;
  line-height: 4.6rem;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;
  font-size: 2.4rem;
  margin: 0 auto;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-line, .video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-top, .video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-right, .video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-bottom, .video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-left {
  position: absolute;
  background-color: #476dff;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-top {
  top: 0;
  left: 0;
  height: 0.8rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-right {
  top: 0;
  right: 0;
  width: 0.8rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-bottom {
  bottom: 0;
  right: 0;
  height: 0.8rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-currpage .video-create-animate .video-create-left {
  bottom: 0;
  left: 0;
  width: 0.8rem;
}

.video-edit .video-edit-wrap .video-edit-content .video-next {
  border-radius: 4rem 0 0 4rem;
  justify-content: flex-end;
}

.video-edit .video-preview {
  flex: 0 0 22.4rem;
  background-color: #fff;
  height: 22.4rem;
  display: flex;
  align-items: center;
  padding-left: 3.2rem;
  justify-content: space-between;
}

.video-edit .video-preview .video-preview-btn {
  width: 4.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-edit .video-preview .video-preview-btn .video-preview-btn-icon {
  width: 4rem;
  height: 4rem;
  background-image: url("https://duoke-card.oss-cn-hangzhou.aliyuncs.com/feIhz24f9cek1004ed6755592ce06f4f296223a20d5c.png");
  background-size: 4rem;
}

.video-edit .video-preview .video-preview-btn .video-preview-btn-text {
  color: #333;
  width: 4.8rem;
  font-size: 2.4rem;
  line-height: 1em;
}

.video-edit .video-preview .video-preview-scroll {
  height: 15.7rem;
  width: 62rem;
  overflow-x: auto;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages {
  display: flex;
  height: 15.7rem;
  padding: 3.6rem 2.8rem;
  align-items: center;
  position: relative;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page-time {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: calc(100% - 0.6rem);
  height: 2.8rem;
  font-size: 2rem;
  color: #999999;
  line-height: 2.8rem;
  align-items: center;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page-time text {
  flex: 0;
  white-space: nowrap;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page-time .video-preview-page-time-line {
  flex: 1;
  margin: 0 0.8rem;
  height: 0;
  border-bottom: 0.3rem dashed #999999;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page {
  width: 14.4rem;
  height: 8.1rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #000;
  overflow: hidden;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page:not(:first-child) {
  margin-left: 1.6rem;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page.video-preview-page--active {
  border: 0.2rem solid #476dff;
}

.video-edit .video-preview .video-preview-scroll .video-preview-pages .video-preview-page .video-preview-page-box {
  flex: 1;
  position: relative;
  width: 64rem;
  height: 36rem;
  transform: scale(0.225) translate(-172.22222%, -172.22222%);
}

.video-edit .video-btns {
  flex: 0 0 10.4rem;
  background-color: #fff;
  height: 10.4rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3.2rem 0 5.6rem;
  align-items: center;
  box-shadow: rem -0.2rem rem rem rgba(0, 0, 0, 0.05);
}

.video-edit .video-btns .text-btn {
  font-size: 2.8rem;
  color: #333333;
  line-height: 1em;
}

.video-edit .video-btns .primary-btn {
  width: 55rem;
  height: 8rem;
  background-color: #476dff;
  border-radius: 4rem;
  line-height: 8rem;
  font-size: 2.8rem;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

.video-edit .text-input-popup {
  background-color: #fff;
  border-radius: 2.4rem 2.4rem 0 0;
}

.video-edit .text-input-popup .text-input-popup--header {
  display: flex;
  height: 9.6rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 3.2rem;
}

.video-edit .text-input-popup .text-input-popup--header .text-input-popup--cancel {
  font-size: 2.8rem;
  color: #b3b3b3;
}

.video-edit .text-input-popup .text-input-popup--header .text-input-popup--title {
  font-size: 3.2rem;
  font-weight: bold;
  color: #323233;
}

.video-edit .text-input-popup .text-input-popup--header .text-input-popup--confirm {
  font-size: 2.8rem;
  color: #476dff;
}

.video-edit .text-input-popup .text-input-popup--body {
  padding: 0 2.4rem 2.4rem;
}

.video-edit .text-input-popup .text-input-popup--body .text-input-popup-textarea {
  width: 70.2rem;
  height: 20rem;
  padding: 1.6rem;
  border-radius: 1.6rem;
  background-color: #f6f7f9;
  font-size: 2.8rem;
  color: #666666;
  line-height: 4rem;
  box-sizing: border-box;
}

.video-edit .video-edit-bg {
  position: absolute;
  left: -100000%;
}

.video-edit .video-create-mask {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.79);
  z-index: 1;
}
