
.video-edit {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: PingFangSC-Regular, PingFang SC;
  background-color: #edeef2;
  .video-edit-wrap {
    position: relative;
    flex: 1 0 36rem;
    background-color: #edeef2;
    min-height: 36rem;
    display: flex;
    align-items: center;
    .video-edit-sync {
      position: absolute;
      top: 3.2rem;
      right: 2.4rem;
      padding: 0 1.6rem;
      height: 5.6rem;
      width: 18rem;
      font-size: 2.8rem;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      border-radius: 2.8rem;
      color: #476dff;
    }
    .video-edit-content {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .video-page-btn {
        width: 4rem;
        height: 8rem;
        background-color: rgba($color: #ffffff, $alpha: 0.69);
        display: flex;
        align-items: center;
        ::v-deep .uni-icons {
          font-size: 3.2rem !important;
        }
      }
      .video-prev {
        @extend .video-page-btn;
        border-radius: 0 4rem 4rem 0;
      }
      .video-currpage {
        position: relative;
        width: 64rem;
        height: 36rem;
        z-index: 1;
        @keyframes tip-opacity {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }
        .tip-mask {
          background-color: rgba(#476dff, 0.19);
          border: .2rem dotted #476dff;
          &.tip-mask-animate {
            animation: tip-opacity 0.55s 2 alternate;
          }
        }
        .video-create-animate {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: rgba($color: #000000, $alpha: 0.7);
          padding-top: 9.6rem;
          text-align: center;
          box-sizing: border-box;
          .video-create-progress {
            font-size: 5.2rem;
            font-weight: bold;
            color: #ffffff;
            line-height: 6.2rem;
            margin-bottom: .8rem;
          }
          .video-create-text {
            font-size: 2.8rem;
            color: #ffffff;
            line-height: 4rem;
            margin-bottom: 1.6rem;
          }
          .video-create-cancel {
            width: 12.8rem;
            height: 5rem;
            border-radius: 2.5rem;
            border: .2rem solid #ffffff;
            line-height: 4.6rem;
            box-sizing: border-box;
            text-align: center;
            color: #ffffff;
            font-size: 2.4rem;
            margin: 0 auto;
          }
          .video-create-line {
            position: absolute;
            background-color: #476dff;
          }
          .video-create-top {
            @extend .video-create-line;
            top: 0;
            left: 0;
            height: .8rem;
          }
          .video-create-right {
            @extend .video-create-line;
            top: 0;
            right: 0;
            width: .8rem;
          }
          .video-create-bottom {
            @extend .video-create-line;
            bottom: 0;
            right: 0;
            height: .8rem;
          }
          .video-create-left {
            @extend .video-create-line;
            bottom: 0;
            left: 0;
            width: .8rem;
          }
        }
      }
      .video-next {
        @extend .video-page-btn;
        border-radius: 4rem 0 0 4rem;
        justify-content: flex-end;
      }
    }
  }
  .video-preview {
    flex: 0 0 22.4rem;
    background-color: #fff;
    height: 22.4rem;
    display: flex;
    align-items: center;
    padding-left: 3.2rem;
    justify-content: space-between;
    .video-preview-btn {
      width: 4.8rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      .video-preview-btn-icon {
        width: 4rem;
        height: 4rem;
        background-image: url('https://duoke-card.oss-cn-hangzhou.aliyuncs.com/feIhz24f9cek1004ed6755592ce06f4f296223a20d5c.png');
        background-size: 4rem;
      }
      .video-preview-btn-text {
        color: #333;
        width: 4.8rem;
        font-size: 2.4rem;
        line-height: 1em;
      }
    }
    .video-preview-scroll {
      height: 15.7rem;
      width: 62rem;
      overflow-x: auto;
      .video-preview-pages {
        display: flex;
        height: 15.7rem;
        padding: 3.6rem 2.8rem;
        align-items: center;
        position: relative;
        .video-preview-page-time {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          width: calc(100% - .6rem);
          height: 2.8rem;
          font-size: 2rem;
          color: #999999;
          line-height: 2.8rem;
          align-items: center;
          text {
            flex: 0;
            white-space: nowrap;
          }
          .video-preview-page-time-line {
            flex: 1;
            margin: 0 .8rem;
            height: 0;
            border-bottom: .3rem dashed #999999;
          }
        }
        .video-preview-page {
          width: 14.4rem;
          height: 8.1rem;
          border-radius: .4rem;
          border: .1rem solid #000;
          overflow: hidden;
          &:not(:first-child) {
            margin-left: 1.6rem;
          }
          &.video-preview-page--active {
            border: .2rem solid #476dff;
          }
          .video-preview-page-box {
            flex: 1;
            position: relative;
            width: 64rem;
            height: 36rem;
            // -(0.5 - 0.225 / 2) / 0.225 * 100%
            transform: scale(0.225)
              translate(
                -(0.5 - 0.1125) / 0.225 * 100%,
                -(0.5 - 0.1125) / 0.225 * 100%
              );
          }
        }
      }
    }
  }
  .video-btns {
    flex: 0 0 10.4rem;
    background-color: #fff;
    height: 10.4rem;
    display: flex;
    justify-content: space-between;
    padding: 0 3.2rem 0 5.6rem;
    align-items: center;
    box-shadow: rem -.2rem rem rem rgba(0, 0, 0, 0.05);
    .text-btn {
      font-size: 2.8rem;
      color: #333333;
      line-height: 1em;
    }
    .primary-btn {
      width: 55rem;
      height: 8rem;
      background-color: #476dff;
      border-radius: 4rem;
      line-height: 8rem;
      font-size: 2.8rem;
      font-weight: bold;
      color: #ffffff;
      text-align: center;
    }
  }
  .text-input-popup {
    background-color: #fff;
    border-radius: 2.4rem 2.4rem 0 0;
    .text-input-popup--header {
      display: flex;
      height: 9.6rem;
      align-items: center;
      justify-content: space-between;
      padding: 0 3.2rem;
      .text-input-popup--cancel {
        font-size: 2.8rem;
        color: #b3b3b3;
      }
      .text-input-popup--title {
        font-size: 3.2rem;
        font-weight: bold;
        color: #323233;
      }
      .text-input-popup--confirm {
        font-size: 2.8rem;
        color: #476dff;
      }
    }
    .text-input-popup--body {
      padding: 0 2.4rem 2.4rem;
      .text-input-popup-textarea {
        width: 70.2rem;
        height: 20rem;
        padding: 1.6rem;
        border-radius: 1.6rem;
        background-color: #f6f7f9;
        font-size: 2.8rem;
        color: #666666;
        line-height: 4rem;
        box-sizing: border-box;
      }
    }
  }
  .video-edit-bg {
    position: absolute;
    left: -100000%;
    // top: 50rem;
  }
  .video-create-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #ffffff, $alpha: 0.79);
    z-index: 1;
  }
}